button {
    list-style: none;
    border-style: none;
}

li {
    list-style: none;
}


/* КАМІНЬ-НОЖИЦІ-ПАПІР  КАМІНЬ-НОЖИЦІ-ПАПІР  КАМІНЬ-НОЖИЦІ-ПАПІР  КАМІНЬ-НОЖИЦІ-ПАПІР  КАМІНЬ-НОЖИЦІ-ПАПІР  КАМІНЬ-НОЖИЦІ-ПАПІР */
.prs__section {
    font-family: "Montserrat Alternates", solid;
    font-weight: 400;
}

.vector__prs {
    display: flex;
    justify-content: center;
}

.prs__title {
    font-family: "Montserrat Alternates", solid;
    font-weight: 400;
    display: flex;
    justify-content: center;
}

.prs-button__list {
    width: 256px;
    height: 60px;
    border-radius: 20px;
    background-color: black;
}




/*  КАЛЬКУЛЯТОР КАЛЬКУЛЯТОР КАЛЬКУЛЯТОР КАЛЬКУЛЯТОР КАЛЬКУЛЯТОР КАЛЬКУЛЯТОР */

/* .vector {
    display: flex;
    justify-content: center;
    color: #000000;
}

.calculator__title {
    display: flex;
    justify-content: center;
    font-family: "Montserrat Alternates", solid;
    font-weight: 400;
}

.calculator__container {
    display: flex;
    justify-content: center;
}

.input__calculator {
    outline: 0;
    border: 0;
    width: 150px;
    height: 35px;
    padding: 10px, 20px, 10px, 20px;
    background-color: #D7D7D7;
    padding-left: 14.63px;
    box-shadow: 3px 3px 0px 0px #00000040;
    border-radius: 20px;
    font-family: "Montserrat Alternates", solid;
    font-weight: 400;
}

.button__calculator {
    width: 27px;
    height: 25px;
    border-radius: 20px;
    padding: 5px, 10px, 5px, 10px;
    background-color: black;
    color: #D7D7D7;
    box-shadow: 3px 3px 0px 0px #00000040; 
}

.button__list {
    display: flex;
    list-style: none;
    width: 62px;
    height: 60px;
    border-radius: 20px;
    flex-wrap: wrap;
}

.button__element {

} */